@charset "utf-8";
.header {
    height: 120px;
}
.title {
     float: left; 
     padding: 0 15px;
}
.home {
    padding: 30px 15px 30px 15px;
}
.day {
    border-bottom: 2px solid black;
    
    padding: 0 0 0 10px;
}
p {
    padding: 0 0 0 10px;
}